<!DOCTYPE html>
<html>
  <head>
    <title>Akinator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <div>
      <h1>Akinator</h1>
      <h3>{{ question }}</h3>
      <form action="/response" method="post">
        <button type="submit" name="answer" value="yes">Yes</button>
        <button type="submit" name="answer" value="no">No</button>
        <button type="submit" name="answer" value="idk">I don't know</button>
        <button type="submit" name="answer" value="probably">Probably</button>
        <button type="submit" name="answer" value="probably not">
          Probably not
        </button>
      </form>
    </div>
  </body>
</html>
