<!DOCTYPE html>
<html>
<head>
    <title>Akinator</title>
</head>
<body>
    <h1>Akinator</h1>
    <img src={{ url }} alt= {{ name }} width="256px">
    <h2> {{ name }}</h2>
    <h4>{{ description }}</h4>

</body>
<style>
    body{
        background: blueviolet;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color:white;
    }
    div{
        justify-content: center;
    }
    img{
        margin-left: auto;
  margin-right: auto;
    }
</style>
</html>